body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #061538;
    color: #FFFAFF;
}

.container {
    width : 30vw;
    min-width : 280px;
    height: 94vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 15vmin;
}

.cell {
    border: white 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

#current-player-indicator {
    text-align: right;
}

.cell[played-by="O"], .sign-color-O {
    color : #ff7593;
}

.cell[played-by="X"], .sign-color-X {
    color : #5caae5;
}  